services:
  # PostgreSQL Database
  db:
    image: postgres:15
    container_name: library_db
    ports:
      - "5432:5432" 
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    restart: always

  # Odoo 18 Web Application
  web:
    image: odoo:18.0
    container_name: library_web
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./config:/etc/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    restart: always
    command: --dev=all  

volumes:
  odoo-web-data:
  odoo-db-data: